<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li  class="<%= 'active' if current_page?(user_path(current_user)) ||
              current_page?(edit_user_path(current_user)) %>">
            <%=link_to "My account", user_path(current_user) %>
          </li>
          <li  class="<%= 'active' if !current_page?(user_path(current_user)) &&
              !current_page?(edit_user_path(current_user)) %>">
            <a href="/users">Users</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
              aria-haspopup="true" aria-expanded="false">Learn more
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="/about">About this site</a></li>
              <li><a href="http://light-it.net/ru/">About company</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li ><span class="navbar-text">Здравствуйте,
            <% if current_user.first_name != ''  && current_user.last_name != '' %>
              <%= current_user.last_name %> <%= current_user.first_name.to_s.first %>.
            <% elsif current_user.first_name != '' %>
              <%= current_user.first_name %>
            <% elsif current_user.last_name != '' %>
              <%= current_user.last_name %>
            <% else %>
              <%= current_user.email %>
            <% end %>
          </span></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-right">
          <li  class="<%= 'active' if current_page?(controller: 'devise/sessions', action: 'new') %>"><%= link_to 'Sing in', new_user_session_path %></li>
          <li  class="<%= 'active' if current_page?(controller: '/my_registrations', action: 'new') %>">
            <%= link_to 'Sing up', new_user_registration_path %>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
